doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='javascripts/jquery.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script.
            var socket = io('http://localhost');

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/') Pollr
                ul.nav.navbar-nav
                    li
                        a(href='/submit') Create new poll
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-user
                            |  Sign Up
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-log-in
                            |  Login





        block content
